.nav{
	height:150px;
	width:900px;
	margin:0 auto;
	text-align: center;
	z-index:2
}
.nav li{
	margin:0 auto;
	list-style-type:none;
	display:inline;
	whitespace:nowrap;
	float:left
}
.nav li a{
	display:block;
	height:50px;
	padding-left:60px;
	margin-right:15px;
	text-decoration:none;
	text-shadow: 0 0 2px #FFE4D5;
	line-height:50px;
	font-size:1.4em;
	font-family:Verdana, Geneva, sans-serif;
	font-variant:small-caps;
	color:white;
	background-color:transparent;
	background-image:url('../img/nav.png');
	background-repeat:no-repeat;
	background-position:0 0;
}
.nav li a.over{
	color:#ffea59;
	background-position:0 -200px;
	animation: bloom 0.2s linear 1;
	-webkit-animation: bloom 0.2s linear 1;
	-moz-animation: bloom 0.2s linear 1;
	-o-animation: bloom 0.2s linear 1;
}
.nav li a.out{
	background-position:0 0;
	animation: fade 0.2s linear 1;
	-webkit-animation: fade 0.2s linear 1;
	-moz-animation: fade 0.2s linear 1;
	-o-animation: fade 0.2s linear 1;
}
@keyframes bloom {
	0%,32.99% {background-position:0 -50px;}
	33%,65.99% {background-position:0 -100px;}
	66%,100% {background-position:0 -150px;}
}
@-webkit-keyframes bloom {
	0%,32.99% {background-position:0 -50px;}
	33%,65.99% {background-position:0 -100px;}
	66%,100% {background-position:0 -150px;}
}
@-moz-keyframes bloom {
	0%,32.99% {background-position:0 -50px;}
	33%,65.99% {background-position:0 -100px;}
	66%,100% {background-position:0 -150px;}
}
@-o-keyframes bloom {
	0%,32.99% {background-position:0 -50px;}
	33%,65.99% {background-position:0 -100px;}
	66%,100% {background-position:0 -150px;}
}
@keyframes fade {
	0%,32.99% {background-position:0 -150px;}
	33%,65.99% {background-position:0 -100px;}
	66%,100% {background-position:0 -50px;}
}
@-webkit-keyframes fade {
	0%,32.99% {background-position:0 -150px;}
	33%,65.99% {background-position:0 -100px;}
	66%,100% {background-position:0 -50px;}
}
@-moz-keyframes fade {
	0%,32.99% {background-position:0 -150px;}
	33%,65.99% {background-position:0 -100px;}
	66%,100% {background-position:0 -50px;}
}
@-o-keyframes fade {
	0%,32.99% {background-position:0 -150px;}
	33%,65.99% {background-position:0 -100px;}
	66%,100% {background-position:0 -50px;}
}